.list {
    span {
        display: block;
        width: 20px;
        height: 20px;

    }


    .active {
        padding: 6px;
        background-color: #fff;
        border-radius: 6px;
    }


}